/*****************************************
*  Table of Content
*  1.  Color pallet
*  2.  Body 
*  3.  header
******************************************/

/*****************************************
*  Color Pallet  & Fonts
******************************************/
.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #8BC34A; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

/*****************************************
*   Fonts ***
*-----------------------------------------
*   font-family: 'Roboto Slab', serif;
*   font-family: 'Josefin Sans', sans-serif;
******************************************/

/*****************************************
*  Body
******************************************/
body{
    font-family: 'Josefin Sans', sans-serif;
}
/*****************************************
*  Utility      
******************************************/
.p-10{ padding: 10px; }
.p-20{ padding: 20px; }
.p-t-b-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.m-b-0{
    margin: 0 !important;
}
.m-b-30{
    margin-bottom: 30px;
}
.m-t-b-30{
    margin-top: 30px;
    margin-bottom: 30px;
}
.m-t-b-5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.bg-lgray{
    background: #f8f8f8;
}
.padded{
    padding: 4rem 0;
}
.font-sec{ font-family: 'Open Sans', sans-serif; }
strong {
    font-weight: 500;
    font-family: 'Roboto';
    padding-left: 5px;
}
/*****************************************
*  Header Section
******************************************/
header .banner{
    background-image: url(../../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    background-position: right top;
}
header .lead-container {
    height: auto;
    text-align: center;
    top: 26% !important;
    padding-top: 10rem;
    color: #FFFFFF;
}
header .lead-container2{
    padding-top: 2rem;
    text-align: left;
    color: #FFFFFF;
}
header .lead-container h5{
    opacity: 0.7;
}
header nav {
    color: #fff;
    background-color: transparent;
    width: 100%;
    height: 56px;
    line-height: 56px;
    box-shadow: none;
}
header nav ul a:hover {
    background-color: transparent;
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
}
header nav ul a{
    text-transform: capitalize;
    font-size: 12px;
    padding: 0 20px !important;
}

header .dropdown-content.active{
    margin-top: 0px !important;
    /* width: 115px !important; */
    background: #00796b;
    /* z-index: -1; */
    /* padding-top: 45px; */
    color: #fff !important;
}
.dropdown-content.active li:first-child a:hover,
.dropdown-content.active li:first-child a {
    text-align: center;
    line-height: 2.5;
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 0 !important;
    height: 56px;
    background: #00796b !important;
    cursor: default;
}
header .dropdown-content.active a{
    color: #FFFFFF !important;
}
header .dropdown-content.active a:hover{
    color: #FFFFFF !important;
    background: #009688;
}
header nav ul li.active {
    background-color: transparent;
    opacity: 0.7;
}
.dropdown-content li > a, 
.dropdown-content li > span {
    padding: 14px 16px !important;
    color: #00796B !important;
}
nav .brand-logo img{
    width: 100px;
}
.nav-links {
    padding-top: 1em;
}
.nav-links ul:not(.browser-default) > li {
    list-style-type: none;
    width: 100%;
}

.brand-logo {
    z-index: 1;
}
.head-style {
    position: fixed;
    height: 56px;
    background: #00796B !important;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
/*****************************************
* Slider    
******************************************/
.slider .indicators {
    position: absolute;
    text-align: center;
    left: 94% !important;
    right: 0;
    bottom: 50px !important;
    margin: 0;
    z-index: 2;
}
.slider .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 5px 12px;
}
/*****************************************
*   Button
******************************************/
.l-btn {
    height: 60px;
    background: transparent !important;
    box-shadow: none;
    border: 1px solid #00796b;
    color: #0e7a6a;
}
/*****************************************
*  Content
******************************************/
.lead-message{
    padding: 2.5em 0;
}
.lead-message h3{
    font-family: 'Open Sans', sans-serif;
}
.lead-message p {
    font-size: 20px;
    font-weight: 500;
}
.lead-message .e-cards img {
    width: 100%;
    height: 150px;
}
.lead-message ul li .material-icons {
    display: inline-block;
    position: relative;
    top: 5px;
    font-size: 20px;
    padding-right: 10px;
}
.add-event img {
    width: 100%;
    height: 400px;
}
.caption-event {
    position: absolute;
    bottom: 40%;
    text-align: center;
    width: 100%;
    color: #fff;
}
.m-card .card{
    margin-bottom: 20px;
}
.m-card .card img {
    height: 250px;
}
.m-card.rounder .card,
.m-card.rounder .card img,
.m-card a:hover .card, 
.m-card a:hover .card img {
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    transition: 0.5s ease-in-out;
}
.m-card.rounder .card img,
.m-card a:hover .card img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.m-card .card .card-image .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 5px 30px;
    background: rgba(99, 71, 111, 0.56);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.m-card.rounder .card,
.m-card.rounder .card img{
    height: 150px;
}
.m-card.rounder .card .card-title {
    font-size: 18px;
    font-weight: 300;
}
/*****************************************
*   Card
******************************************/
.e-card {
    margin-bottom: 10px;
}
.e-card > a {
    display: block;
    background-color: #000;
    margin-bottom: 5px;
    cursor: pointer;
}
.e-card > a:hover img{
    opacity: 0.7;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.e-card span:last-child, .e-card span:last-child i {
    display: inline-block;
    font-size: 15px;
    padding-right: 5px;
}

.nav-links ul li a {
    font-size: 1.2em;
    padding: 2px 0;
    margin: 5px;
    display: block;
    border-bottom: 1px solid transparent;
    width: max-content;
    text-decoration: none;
    color: #00796B;
}
.nav-links ul li a.active,
.nav-links ul li a:hover {
    border-bottom: 2px solid #00796B;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    opacity: 0.7;
}
/* .r-details a {
    display: block;
} */
.r-details span:last-child{
    color: #757575;
}
.r-details .material-icons{
    color: #757575;
    vertical-align: sub;
}
.lead-cards .media {
    margin-bottom: 2em;
}
.lead-cards .media p {
    font-size: 18px;
    line-height: 1.2;
}
.lead-cards .media img {
    width: 120px;
    background: rgba(0, 0, 0, 0.16);
}
.c-card .r-details .material-icons {
    font-size: 16px;
    padding-right: 5px;
}
/*****************************************
*  Forms 
******************************************/
.c-form .form-control {
    border: 1px solid #ccc !important;
    margin-bottom: 0 !important;
}
.c-form input:not([type]):focus:not([readonly]), 
.c-form input[type=text]:not(.browser-default):focus:not([readonly]), 
.c-form input[type=password]:not(.browser-default):focus:not([readonly]), 
.c-form input[type=email]:not(.browser-default):focus:not([readonly]),
.c-form input[type=url]:not(.browser-default):focus:not([readonly]), 
.c-form input[type=time]:not(.browser-default):focus:not([readonly]), 
.c-form input[type=date]:not(.browser-default):focus:not([readonly]), 
.c-form input[type=datetime]:not(.browser-default):focus:not([readonly]), 
.c-form input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
.c-form input[type=tel]:not(.browser-default):focus:not([readonly]), 
.c-form input[type=number]:not(.browser-default):focus:not([readonly]), 
.c-form input[type=search]:not(.browser-default):focus:not([readonly]), 
.c-form textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #ccc !important;
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    height: 3rem;
    /* width: 100%; */
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;

}   
/* form.c-form {
    width: 100%;
    float: left;
} */
.c-form .form-group {
    margin-bottom: 1rem;
    width: 100%;
    display: inline-block;
}
.c-form input.form-control,
.c-form button{
    height: 50px !important;
}
.c-form input.form-control {
    width: 62% !important;
    float: left;
    padding-left: 10px !important;
    background: #fff !important;
    color: #000 !important;
}
.c-form input.form-control:focus{
    font-size: 1.5em !important;
}
.c-form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 52px !important;
    position: relative;
    left: -1;
    box-shadow: none !important;
}
form.c-form {
    width: 100%;
    float: left;
    height: 50px;
    position: relative;
    top: 30px;
}
/* .form-group {
    margin-bottom: 1rem;
    height: 50px;
    width: 100%;
}
.c-form .form-group input.form-control {
    width: 70% !important;
    float: left;
    height: 50px !important;
} */
/*****************************************
*  Footer
******************************************/
.page-footer{
    padding: 1em 0 0;
}
.page-footer ul li{
    display: inline-block;
}
.page-footer h5{
    font-size: 1.2em;
}
.page-footer h5 small{
  font-size: 11px;
  font-style: italic;
}
.page-footer a.brand-logo img {
    width: 50px;
    float: left;
    padding: 5px;
}
.social-link {
    float: right;
    padding-left: 15px !important;
    margin-bottom: 0px !important;
    text-align: right;
}
.social-link li a {
    font-size: 1.5em;
    padding: 0 10px;
}
.social-link li a:hover{
    color: #FFFFFF !important;
    transition: 0.5s;
}
.title {
    font-size: 1.1em !important;
    font-weight: 700 !important;
    color: #99d5ae !important;
    width: max-content;
    padding-bottom: 1px;
    margin-bottom: 5px;
    border-bottom: 2px solid #ccc;
}
.bb-t{
    border-bottom: 2px solid transparent !important;
}
.page-footer .r-details {
    padding: 5px 10px;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    display: grid;
}
.page-footer {
    padding-top: 20px;
    color: #fff;
    background: linear-gradient(39deg,#568265 1%,#00796b 54%) !important
  }
  
@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 64px;
        line-height: 53px;
    }
}
@media (max-width: 1000px){
    .navbar-fixed nav,
    .navbar-fixed {
        background: #00796B;
    }

}
@media(max-width: 600px){
    .l-btn {
        display: table;
        width: 60%;
        margin: auto;
        margin-top: 3em;
    }
    form.c-form {
        width: 100%;
        float: left;
        height: 50px;
        position: relative;
        top: 0;
    }
    .lead-container2 h2 {
        text-align: center;
    }
    .social-link {
        text-align: center;
    }
    .slider .indicators {
        position: absolute;
        text-align: center;
        left: 0 !important;
        right: 0;
        bottom: 50px !important;
        margin: 0;
        z-index: 2;
    }
}
